<% if @myclass == 'refund_error' %>
<div class= '<%= @myclass %>'>* <%= @display_message %></div>
<% end %>

<% if @myclass == 'refund_success' %>
<div class= '<%= @myclass %>'>* <%= @display_message %></div>
<% end %>